{% render 'partials/head.liquid', title:   news.title  %}
{% render 'partials/header.liquid' %}
<main>


{% comment %} Artikel {% endcomment %}
<article class="nieuwsartikel">
  <h1>{{ news.title }}</h1>
  <h2> {{  news.description }}</h2>
  <p> {{ news.author }}</p>
<p> {{ news.body | html }}</p>

</article>







{% comment %} Bericht achterlaat functie {% endcomment %}

<section class="nominatiebericht">
<h2 id="berichtenn">Berichten</h2>
<div class="comments-list">
    {% for comment in artcomment %}
      <div class="commentcard">
      <div class="row1">
    <p> {{ comment.name }} </p>
    <p> {{ comment.date_created | date: '%d %B %Y'  }}  </p>
    
        </div>
    <p> {{ comment.comment }}</p>
 
    </div>
   {% endfor %}

</div>
{% comment %} post form {% endcomment %}
<form class="comment-form" action="/nieuws/{{ news.uuid }}/comment" method="POST">
{% if success %}
  {% render 'partials/succes.liquid', message: "Reactie geplaatst!" %}
{% endif %}
 {% if submitted and errors.size > 0 %}
      {% render 'partials/error-banner.liquid', message: "Vul alle velden in." %}
    {% endif %}
  <label>Comment
      <textarea placeholder="Schrijf jouw reactie..."
        name="comment"
        {% if submitted and form.message == blank %}class="field-error"{% endif %}
      >{{ form.message }}</textarea>
    </label>
    {% if submitted and form.message == blank %}
      {% render 'partials/error.liquid', message: "Dit veld is verplicht" %}
    {% elsif form.message != blank %}
      {% render 'partials/succes.liquid', message: "comment ingevuld" %}
    {% endif %}

  <label>Naam
      <input type="text" placeholder="Jouw naam"
        name="name"
        {% if submitted and form.afzender == blank %}class="field-error"{% endif %}
        value="{{ form.afzender }}">
    </label>
    {% if submitted and form.afzender == blank %}
      {% render 'partials/error.liquid', message: "Dit veld is verplicht" %}
    {% elsif form.afzender != blank %}
      {% render 'partials/succes.liquid', message: "name ingevuld" %}
    {% endif %}
  <button  type="submit">
    Laat je reactie achter</button>
</form>
</main>

