{% render 'partials/head.liquid', title:   news.title  %}

<header>
  <nav class="first-header">
    <ul>
      <li>
        <a href="">{{ extraData.homepageHeader.headeritem1 }}</a>
      </li>
      <li>
        <a href="">{{ extraData.homepageHeader.headeritem2 }}</a>
      </li>
      <li>
        <a href="">{{ extraData.homepageHeader.headeritem3 }}</a>
      </li>
    </ul>
  </nav>
</header>
<header>
  <nav class="second-header">
    <img src="/assets/logo.svg" alt="Associate Degree Platform" width="200" height="50">
    <ul>
      <li>
        <a href="">
          {{ extraData.homepageHeader.scndheaderitem1 }}
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="">
          {{ extraData.homepageHeader.scndheaderitem2 }}
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="">
          {{ extraData.homepageHeader.scndheaderitem3 }}
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/talentaward">
          {{ extraData.homepageHeader.scndheaderitem4 }}
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/nieuws">
          {{ extraData.homepageHeader.scndheaderitem5 }}
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a class="astyle ad-dag" href="">
          {{ extraData.homepageHeader.scndheaderitem6 }}
        </a>
      </li>
    </ul>

    <img class="burgermenu" src="/assets/burger-bar.png" alt="menu" width="28" height="30">
  </nav>
</header>
<main>


{% comment %} Artikel {% endcomment %}
<article class="nieuwsartikel">
  <h1>{{ news.title }}</h1>
  <h2> {{  news.description }}</h2>
  <p> {{ news.author }}</p>
<p> {{ news.body | html }}</p>

</article>







{% comment %} Bericht achterlaat functie {% endcomment %}

<section class="nominatiebericht">
<h2 id="berichtenn">Berichten</h2>
<div class="comments-list">
    {% for comment in artcomment %}
      <div class="commentcard">
      <div class="row1">
    <p> {{ comment.name }} </p>
    <p> {{ comment.date_created | date: '%d %B %Y'  }}  </p>
    
        </div>
    <p> {{ comment.comment }}</p>
 
    </div>
   {% endfor %}

</div>
{% comment %} post form {% endcomment %}
<form class="comment-form" action="/nieuws/{{ news.uuid }}/comment" method="POST">
{% if success %}
  {% render 'partials/succes.liquid', message: "Reactie geplaatst!" %}
{% endif %}
 {% if submitted and errors.size > 0 %}
      {% render 'partials/error-banner.liquid', message: "Vul alle velden in." %}
    {% endif %}
  <label>Comment
      <textarea placeholder="Schrijf jouw reactie..."
        name="comment"
        {% if submitted and form.message == blank %}class="field-error"{% endif %}
      >{{ form.message }}</textarea>
    </label>
    {% if submitted and form.message == blank %}
      {% render 'partials/error.liquid', message: "Dit veld is verplicht" %}
    {% elsif form.message != blank %}
      {% render 'partials/succes.liquid', message: "comment ingevuld" %}
    {% endif %}

  <label>Naam
      <input type="text" placeholder="Jouw naam"
        name="name"
        {% if submitted and form.afzender == blank %}class="field-error"{% endif %}
        value="{{ form.afzender }}">
    </label>
    {% if submitted and form.afzender == blank %}
      {% render 'partials/error.liquid', message: "Dit veld is verplicht" %}
    {% elsif form.afzender != blank %}
      {% render 'partials/succes.liquid', message: "name ingevuld" %}
    {% endif %}
  <button  type="submit">
    Laat je reactie achter</button>
</form>
</main>

