{% render 'partials/head.liquid', title: 'Home' %}

<header>
  <nav class="first-header">
    <ul>
      <li>
        <a href="">{{ extraData.homepageHeader.headeritem1 }}</a>
      </li>
      <li>
        <a href="">{{ extraData.homepageHeader.headeritem2 }}</a>
      </li>
      <li>
        <a href="">{{ extraData.homepageHeader.headeritem3 }}</a>
      </li>
    </ul>
  </nav>
</header>
<header>
  <nav class="second-header">
    <img src="./assets/logo.svg" alt="Associate Degree Platform" width="200" height="50">
    <ul>
      <li>
        <a href="">
          {{ extraData.homepageHeader.scndheaderitem1 }}
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="">
          {{ extraData.homepageHeader.scndheaderitem2 }}
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="">
          {{ extraData.homepageHeader.scndheaderitem3 }}
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/talentaward">
          {{ extraData.homepageHeader.scndheaderitem4 }}
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/nieuws">
          {{ extraData.homepageHeader.scndheaderitem5 }}
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a class="astyle ad-dag" href="">
          {{ extraData.homepageHeader.scndheaderitem6 }}
        </a>
      </li>
    </ul>

    <img class="burgermenu" src="./assets/burger-bar.png" alt="menu" width="28" height="30">
  </nav>
</header>
  <main>
    <article class="hero">
      <nav class="breadcrumb">
        <a>Home</a>
        <span> / </span>
        <a>Nieuws</a>
      </nav>
      <h1>Nieuws</h1>
      <p>Op deze pagina vind je updates en korte verslagen van georganiseerde evenementen.</p>
      <picture>
        <source type="image/avif" srcset="/assets/heronews.avif">
        <source type="image/webp" srcset="/assets/heronews.webp">
        <img class="heropic" src="/assets/heronews.jpg" alt="ADconnect kantoor" fetchpriority="high">
      </picture>
    </article>
    <h2 style="padding-left: 20px;">Nieuws</h2>
    <div class="articlewrap">
    {% for artikel in nieuws %}
    <section style="margin: 0 20px" class="Nieuwsartikelen">
      <article class="artikelcard">
        <p style="line-height: 1.2;">{{  artikel.date | date: '%d %B %Y'}}</p>
      <h2>{{ artikel.title }}</h2>
      <p> {{  artikel.body | truncatewords: 20 }} </p>
      <a class="ad-dag astyle">Meer informatie</a>
      </article>
      </section>
    {% endfor %}
    </div>
  </main>
</body>
